:root {
  --background-color: #35373a;
  --border-color: rgb(255, 255, 255, 0.1);
}
body {
  background-color: var(--background-color);
  padding-top: 10%;
  margin: 0px;
  overflow: scroll;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, a, p, span, div {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.2rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #35373A;
  border-bottom: 1px solid var(--border-color);
  z-index: 1;
}
nav > .nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-logo-section,
#nav-link section {
  flex-basis: calc(100% / 3);
}

#nav-social-section {
  flex-grow: 1;
  justify-content: flex-end;
  font-size: 1.5rem;
  padding-right: 6rem;
}

#nav-logo-section > a > i {
  font-size: 2.5rem;
}

#nav-logo-section {
  justify-content: flex-start;
  padding-left: 3rem;
}

#nav-links-section {
  gap: 3rem;
  transition: opacity 400ms ease;
}

#nav-social-section {
  gap: 3rem;
}

#nav-links-section:hover > .nav-links-section-item {
  opacity: 1;
}

#nav-links-section:hover > .nav-links-section-item:hover {
  opacity: 0.5;
}

#nav-logo-section:hover > .nav-logo-section-item {
  opacity: 1;
}

#nav-logo-section:hover > .nav-logo-section-item:hover {
  opacity: 0.5;
}

#nav-social-section:hover > .nav-social-section-item {
  opacity: 1;
}

#nav-social-section:hover > .nav-social-section-item:hover {
  opacity: 0.5;
}

#main {
  display: block;
  width: 60%;
  margin: auto;
  z-index: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between cards as needed */
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content p {
  margin-bottom: 10px;
}

.card-content a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f1f1f1;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
}
